 {% comment %} <img src="foo.png" alt="Italian Trulli"> {% endcomment %}

{% comment %} <img src="{% static '/foobar.png' %}"/> {% endcomment %}

{% load static %}
<img src="{% static "howdy/foo.png" %}" alt="My image">

{% for exp in experience_list %}
    <li>#{{ exp.id }} ---> {{ exp.years }} years - {{ exp.salary }} PLN <form action="{% url 'howdy:data_remove' %}" method="POST"> {% csrf_token %} <input value="{{ exp.id }}" name="index" type="hidden"> <input type="submit" value="DELETE"/> </form> </li>
{% endfor %}

<br/>
<br/>
<br/>

Add entry: <br/> 
<form action="{% url 'howdy:data_add' %}" method="POST">
    {% csrf_token %}
    Years: <input type="text" name="years"/><br/>
    Salary: <input type="text" name="salary"/><br/>
    <input type="submit" value="POST"/>
</form>

<br/>
<br/>

Delete entry: <br/>
<form action="{% url 'howdy:data_remove' %}" method="POST">
    {% csrf_token %}
    Index: <input type="text" name="index"/><br/>
    <input type="submit" value="POST"/>
</form>

<br/>
<br/>

Import dataset: <br/>
<form action="{% url 'howdy:data_import' %}" method="POST"> 
    {% csrf_token %} 
    <input type="hidden" name="import" value=0> 
    <input type="submit" value="IMPORT"/> 
</form>

<br/>
<br/>

{% comment %} Check your predicted salary: <br/>
<form action="{% url 'howdy:data_remove' %}" method="POST">
    {% csrf_token %}
    How many years of experience do you have?: <input type="text" name="pred_query"/><br/>
    <input type="submit" value="POST"/>
</form> {% endcomment %}



{% comment %} <pre> {% filter force_escape %} {% debug %} {% endfilter %} </pre> {% endcomment %}
