<!--The content below is only a placeholder and can be replaced.-->

<h1>{{title}}</h1>

<div>
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="post">
      <mat-header-cell *matHeaderCellDef> Post </mat-header-cell>
      <mat-cell *matCellDef="let post"> {{exp.post}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="salary">
      <mat-header-cell *matHeaderCellDef> Salary </mat-header-cell>
      <mat-cell *matCellDef="let salary"> {{exp.salary}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>

Add entry: <br/> 
<form method="POST">
    Post:
    <select name="post">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
    </select>
    Salary: <input type="text" name="salary"/><br/>
    How long have you been working in your current position?: <input type="text" name="worked"/><br/>
    What is the average time to advance from your position?: <input type="text" name="averageTime"/><br/>
    <input type="submit" value="POST"/>
</form>

<br/>
<br/>

Delete entry: <br/>
<form method="POST">
    Index: <input type="text" name="index"/><br/>
    <input type="submit" value="POST"/>
</form>

<br/>
<br/>

Import dataset: <br/>
<form method="POST"> 
    <input type="hidden" name="import" value=0> 
    <input type="submit" value="IMPORT"/> 
</form>

<br/>
<br/>

Check your predicted salary: <br/>
<form action="" method="POST">
    How many years of experience do you have?: <input type="text" name="pred_query"/><br/>
    <input type="submit" value="POST"/>
</form>